*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    min-height:100vh;
}

.otp-wrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.otp-card{
    width:700px;
    background:#fff;
    border-radius:30px;
    padding:70px 80px;
    box-shadow:0 15px 45px rgba(0,0,0,.08);
}

.otp-card h1{
    text-align:center;
    font-size:52px;
    font-weight:700;
    color:#111;
    margin-bottom:18px;
}

.sub-title{
    text-align:center;
    color:#555;
    font-size:18px;
    margin-bottom:30px;
}

.otp-box{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-bottom:30px;
}

.otp-input{
    width:50px;
    height:50px;
    border-radius:10px;
    border:1px solid #d5d5d5;
    text-align:center;
    font-size:22px;
    font-weight:600;
    box-shadow:none;
}

.otp-input:focus{
    border-color:#6d6060;
    box-shadow:none;
}

.otp-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
    font-size:14px;
    color:#555;
}

.timer{
    color:#4f46e5;
    font-weight:600;
}

.resend-link{
    text-decoration:none;
    color:#4f46e5;
    font-weight:600;
}

.confirm-btn{
    width:190px;
    height:55px;
    border:none;
    border-radius:18px;
    background:#665d5d;
    color:#fff;
    font-size:22px;
    font-weight:600;
    transition:.3s;
}

.confirm-btn:hover{
    background:#564d4d;
}

.back-link{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    color:#222;
    font-size:18px;
}

.back-link:hover{
    text-decoration:underline;
}

@media(max-width:768px){

    .otp-card{
        width:100%;
        padding:45px 25px;
    }

    .otp-card h1{
        font-size:36px;
    }

    .otp-box{
        gap:8px;
    }

    .otp-input{
        width:42px;
        height:42px;
        font-size:18px;
    }

    .otp-info{
        flex-direction:column;
        gap:12px;
    }
}