*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f6f6f6;
    font-family:"Poppins",sans-serif;
}

/* Card */

.forgot-card{
    width:100%;
    max-width:700px;
    background:#fff;
    padding:70px 60px;
    border-radius:28px;
}

/* Heading */

.title{
    font-family:Georgia,serif;
    font-size:3rem;
    font-weight:700;
    text-align:center;
    color:#111;
}

.subtitle{
    text-align:center;
    color:#555;
    font-size:1.05rem;
}

/* Input */

.custom-input{
    height:55px;
    border-radius:14px;
    border:1px solid #d7d7d7;
    padding-left:18px;
    font-size:16px;
    box-shadow:none;
}

.custom-input:focus{
    border-color:#6d5d5d;
    box-shadow:none;
}

/* Button */

.send-btn{
    height:55px;
    border:none;
    border-radius:14px;
    background:#655b5b;
    color:#fff;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.send-btn:hover{
    background:#504848;
    color:#fff;
}

/* Message */

#formMessage{
    min-height:20px;
    font-size:14px;
}

/* Mobile */

@media (max-width:768px){

    .forgot-card{
        padding:45px 25px;
        border-radius:20px;
    }

    .title{
        font-size:2.2rem;
    }

    .subtitle{
        font-size:15px;
    }
}